html {
    height: 100%;
    width: 100%;
  }

  body {
    font-family: Poppins;
    text-align: center;
    padding: 5%;
  }
  
  .container {
    padding: 3%;
    border-radius: 10px;
    background: linear-gradient(pink, purple);
  }
  
  button {
    margin-left: 10%;
  }
  
  a {
    text-decoration: none;
    color: black;
  }

  .tarea3 {
    padding-top: 6%;
    text-align: center;
  }
  
  .tarea4 {
    padding: 6%;
  }
